* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Halvetica, sans-serif;
  line-height: 1.4;

  background-color: #1c1c2b;
  color: #ffffff;
}

a {
  color: #333;
  text-decoration: none;
}
